@font-face {
    font-family: 'Marcellus-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Marcellus-Regular'),
        url(../fonts/Marcellus-Regular.woff2) format('woff2'),
        url(../fonts/Marcellus-Regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Mulish-Regular'),
        url(../fonts/Mulish-Regular.woff2) format('woff2'),
        url(../fonts/Mulish-Regular.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Mulish-SemiBold'),
        url(../fonts/Mulish-SemiBold.woff2) format('woff2'),
        url(../fonts/Mulish-SemiBold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('Mulish-Bold'),
        url(../fonts/Mulish-Bold.woff2) format('woff2'),
        url(../fonts/Mulish-Bold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Mulish-ExtraBold';
    font-weight: 800;
    font-style: normal;
    src: local('Mulish-ExtraBold'),
        url(../fonts/Mulish-ExtraBold.woff2) format('woff2'),
        url(../fonts/Mulish-ExtraBold.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('Poppins-Medium'),
        url(../fonts/Poppins-Medium.woff2) format('woff2'),
        url(../fonts/Poppins-Medium.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Lemon-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('Lemon-Regular'),
        url(../fonts/Lemon-Regular.woff2) format('woff2'),
        url(../fonts/Lemon-Regular.woff) format('woff');
    font-display: swap;
}
