@import 'fonts';
@import 'reset';

html,
body {
    height: 100%;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Mulish';
    font-weight: 400;
}

.container {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    padding: 15px 30px;
    background: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right bottom, #326CFF, #26FFF2) border-box;
}

.title {
    font-family: 'Mulish';
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    margin-left: 20px;

    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 8px;
        left: -20px;
        background: linear-gradient(#26FFF2, #326CFF) padding-box,
            linear-gradient(to top, #326CFF, #26FFF2) border-box;
    }
}

.burger__menu {
    display: none;
}

.header {
    padding: 40px 0;

    &-top {

        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        &__logo {}

        &__logo-link {
            display: flex;
            align-items: center;
        }

        &__logo-firstChild {
            border: 4px solid transparent;
            background: linear-gradient(#000, #000) padding-box,
                linear-gradient(to right bottom, #326CFF, #26FFF2) border-box;
            border-radius: 14px;
            text-transform: uppercase;
            font-size: 40px;
            font-family: 'Lemon-Regular';
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__logo-lastChild {
            font-family: 'Poppins';
            font-size: 40px;
            margin-left: 15px;
        }

        &__menu {
            font-size: 16px;
            font-weight: 800;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            width: 385px;
            max-width: 100%;
        }

        &__item {
            position: relative;

            &:hover::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 2px;
                border-bottom: 2px solid transparent;
                border-radius: 50px;
                background: linear-gradient(to right bottom, #326CFF, #26FFF2) border-box;
                cursor: pointer;
            }
        }

        &__link {}

        &__bar {
            &-list {
                display: flex;
                justify-content: space-between;
                width: 210px;
                max-width: 100%;
            }

            &-item {}

            &-link {}
        }
    }

    &-one {
        background: linear-gradient(to left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url(../images/header-poster.png);
        flex-grow: 1;
        background-repeat: no-repeat;
        background-position: top right;
        width: 100%;

        &__inner {
            width: 507px;
            max-width: 100%;
            font-family: 'Mulish';
        }

        &__title {
            font-family: 'Marcellus';
            font-size: 80px;
            line-height: 70px;
            margin: 120px 0 40px;
        }

        &__info {
            display: flex;
            align-items: flex-end;
            font-size: 16px;
            font-weight: 800;
            line-height: 10px;
            margin-bottom: 30px;
        }

        &__info-text {
            padding: 5px 10px;

            &+.header-one__info-text {
                margin-left: 35px;
            }

            &:nth-child(2) {
                border: 2px solid transparent;
                background: linear-gradient(#000, #000) padding-box,
                    linear-gradient(to right bottom, #326CFF, #26FFF2) border-box;
                border-radius: 14px;
            }
        }

        &__info-star {
            display: flex;
            position: relative;
        }

        &__info-star::after {
            content: url(../images/star.svg);
            position: absolute;
            top: 0;
            left: 35px;
        }

        &__text {
            color: #C2C2C2;
            line-height: 28px;
            margin-bottom: 35px;
        }

        &__wrapper {
            display: flex;
        }

        &__btn {

            &+.header-one__btn {
                margin-left: 30px;
            }
        }

        &__watch {
            display: flex;
        }

        &__more {
            background: #fff;
            color: #000;
        }

        &__btn-img {
            margin-right: 15px;
        }
    }
}

.trending {

    &__wrapper {}

    &__title {
        margin-top: 70px;
    }

    &__inner {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    &__item {
        margin-top: 50px;

        &:hover {
            box-shadow: rgba(71, 200, 233, 0.25) 0px 0px 5px 4px;
            border-radius: 20px;
        }
    }

    &__btn {
        margin-top: 70px;
        padding: 15px 35px;
    }

    &__img {
        border-radius: 20px;
        width: 100%;
    }
}

.genres {
    margin-top: 100px;

    &__wraper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    &__title {
        margin-top: 10px;
    }

    &__item {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 340px;
        width: 100%;
        height: 200px;
        border-radius: 20px;

        &-1 {
            background: linear-gradient(109deg, #FD093F 2.4%, #F383F1 100%);
        }

        &-2 {
            background: linear-gradient(109deg, #0FFFDA 2.22%, #3CDB77 68.84%);
        }

        &-3 {
            background: linear-gradient(109deg, #B936FF 2.4%, #57DEDA 100%);
        }

        &-4 {
            background: linear-gradient(109deg, #FD093F 2.4%, #FB1378 2.41%, #FCCB1A 100%);
        }

        &-5 {
            background: linear-gradient(109deg, #FF6472 2.4%, #FDA75D 100%);
        }

        &-6 {
            background: linear-gradient(109deg, #13547A 2.37%, #80D0C7 96.77%);
        }

        &-7 {
            background: linear-gradient(110deg, #FFF77B 2.37%, #FFBF42 50%);
        }

        &-8 {
            background: linear-gradient(109deg, #1FA2FF 2.4%, #1FA2FF 2.41%, #1F535C 97.46%);
        }
    }

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.actors {
    margin-top: 70px;

    &__title {}

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    &__item {
        margin-top: 40px;
    }

    &__img {
        border-radius: 50%;
        object-fit: cover;
        width: 190px;
        height: 190px;
    }

    &__name {
        margin-top: 20px;
        text-align: center;
    }
}

.coming {
    margin-top: 100px;

    &__wrapper {
        display: flex;
        margin-bottom: 120px;
    }

    &__bunny {}

    &__img {
        border-radius: 20px 0 0 20px;
    }

    &__soon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        background: linear-gradient(87deg, #0D1A73 -64.33%, #000 40.52%);
        box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.10);
        border-radius: 0 20px 20px 0;
    }

    &__text {
        font-size: 62px;
        font-weight: 700;
        text-transform: capitalize;
        margin-top: 30px;
    }

    &__here {
        position: relative;
        display: flex;
        width: 80%;
        margin: 0 auto;
        align-items: center;
    }

    &__here-title {
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        padding: 71px 0 71px 57px;
        width: 80%;
    }

    &__here-bg {
        position: absolute;
        opacity: 0.5;
        background: linear-gradient(337deg, rgba(0, 0, 0, 0.1) 58.12%, rgb(255, 255, 255, 1) 124.09%);
        backdrop-filter: blur(25px);
        border-radius: 20px;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
    }

    &__here-btn {}
}

.footer {
    margin-top: 120px;
    background-color: #101012;

    &__nav {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 70px 0;
    }

    &__logo {
        margin-right: 10px;
    }

    &__list {
        font-weight: 600;

        &+.footer__list {
            margin-left: 10px;
        }
    }

    &__item {}

    &__link {
        color: #C2C2C2;
        line-height: 200%;

        &:hover {
            background: -webkit-linear-gradient(110deg,
                    rgba(50, 108, 255, 1) 51%,
                    rgba(38, 255, 242, 1) 100%, );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}






@import 'media';
